// Place here any custom Richie and bootstrap variables.
// To change the variables defined in:
// https://github.com/openfun/richie/blob/master/src/frontend/scss/settings/_variables.scss

// Base body
$body-padding-fix: false;


// Topbar height is required to be able to preserve space in some context like
// when the tobpar is an absolute position, so content won't be placed below.
// You will probably need to adjust it along logo height.
$r-topbar-height: 9.875rem;

// Header logo width is required for SVG logos
$r-topbar-logo-width-sm: 7.1875rem;
$r-topbar-logo-width-lg: $r-topbar-logo-width-sm;

// Header logo width is required for SVG logos
$r-footer-logo-width-sm: 6.1875rem;
$r-footer-logo-width-lg: $r-footer-logo-width-sm;

// Aside column width in course detail, if 'null' content and aside columns take
// full width like common blocks. Usefull if you plan to remove course run from
// template
$r-course-aside: 25%;
$r-course-subheader-aside: 25%;
