{% extends "richie/base.html" %}
{% load cms_tags menu_tags static i18n %}

{% block meta_favicons %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'richie/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'richie/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'richie/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'richie/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'richie/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
<link rel="shortcut icon" href="{% static 'richie/favicon/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{% static 'richie/favicon/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
{% endblock meta_favicons %}

{% block body_header %}
<div id="site-header">
    <div class="topbar {% block topbar_classes %}{% endblock topbar_classes %}" id="main-menu">
        <div class="topbar__container">
            <header class="topbar__header">
                <div class="topbar__brand">
                    <a href="/" title="{% trans "Go to homepage" %}" rel="home" accesskey="h">
                    {% block branding_topbar %}
                        {% get_current_language as LANGUAGE_CODE %}
                        <img src="{% get_static_prefix %}richie/images/logo-{{LANGUAGE_CODE}}.svg" class="topbar__logo" alt="{{ SITE.name }}">
                    {% endblock branding_topbar %}
                    </a>

                    <button
                        class="topbar__hamburger"
                        data-target="main-menu"
                        aria-label="{% trans "Menu" %}"
                        aria-expanded="false"
                    >&#8801;</button>
                </div>

                <nav class="topbar__menu">
                    <ul class="topbar__list">
                        {% show_menu 0 100 0 0 "menu/header_menu.html" %}
                    </ul>
                </nav>

                <div class="topbar__menu topbar__menu--aside">
                    {% block topbar_searchbar %}{% endblock topbar_searchbar %}
                    <ul class="topbar__list topbar__list--controls">
                        {% block userlogin %}
                            {% if AUTHENTICATION %}
                                <li class="topbar__item topbar__item--login richie-react richie-react--user-login" data-props='{"profileUrls": {{ AUTHENTICATION.profile_urls }}}'></li>
                            {% endif %}
                        {% endblock userlogin %}
                        {% block topbar_contact %}{% endblock topbar_contact %}
                    </ul>

                    {% language_chooser "menu/language_menu.html" %}
                </div>
            </header>
        </div>
    </div>
</div>
{% endblock body_header %}

{% block breadcrumbs %}
    <div class="breadcrumbs__wrapper">
        {% include "menu/breadcrumbs.html" %}
        <div class="breadcrumbs__aside richie-react richie-react--root-search-suggest-field"
            data-props='{"courseSearchPageUrl": "{% page_url 'courses' %}"}'></div>
    </div>
{% endblock breadcrumbs %}

{% block body_footer_title %}{% endblock body_footer_title %}

{% block body_js %}{% endblock body_js %}

{% block body_footer_brand %}
{# Change the link to point to our institutional site #}
<a href="{% trans "https://www.france-universite-numerique.fr/en/" %}">
    <img src="{% static "richie/images/logo-alt.svg" %}" alt="" height="88">
</a>
{% endblock body_footer_brand %}

{% block body_mentions %}
<div class="body-mentions__poweredby">
    <a href="/">
        <img src="{% static "richie/images/logo-funmooc-color.svg" %}" alt="Logo FUN Mooc" height="45" style="border-radius: 4px; margin-right: 4px" />
        <small>{% trans "powered by" %}</small>
    </a>
    <a href="https://richie.education">
        <strong>Richie</strong>
    </a>
</div>
{% endblock body_mentions %}
