{% extends "richie/web_analytics.html" %}
{% load static %}

{% block web_analytics_additional_providers %}
    {% if location == 'footer' and provider_configuration.location is None or location == provider_configuration.location %}
        <!-- Bind privacy contexts to window object -->
        <script type="text/javascript">
            // Create __funmooc_context__ if it does not exist
            if (!window.__funmooc_context__) {
                window.__funmooc_context__ = {
                    privacy: JSON.parse('{{ PRIVACY_CONTEXT|safe }}'),
                    analytics: [],
                    "dimensions": {
                        "root_page_id": "{{current_page.node.get_root.pk|safe}}",
                        {% for dimension_key, dimension_value_list in WEB_ANALYTICS_DIMENSIONS.items %}
                            "{{dimension_key}}": "{{dimension_value_list|join:" | "|safe}}",
                        {% endfor %}
                    },
                };
            }
        </script>
        <!-- Load cookie consent -->
        <script type="text/javascript" src="{% static 'richie/js/tarteaucitronjs/tarteaucitron.js' %}"></script>
        <script type="text/javascript" src="{% static 'funmooc/js/tarteaucitron.js' %}"></script>
        {% if provider_configuration.tracking_id %}
            <!-- Load analytic tool if page is not draft -->
            {% if current_page.publisher_is_draft is not True %}
                <!-- Bind analytics contexts to window object -->
                <script type="text/javascript">
                    window.__funmooc_context__['analytics'].push({
                        "id": "{{ provider_configuration.tracking_id|safe }}",
                        "provider": "{{ provider|safe }}",
                    });
                </script>

                {% if provider == "pianoanalytics" %}
                    <!-- Setup Piano Analytics -->
                    <script type="text/javascript" src="{% static 'funmooc/js/pianoanalytics.js' %}"></script>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock web_analytics_additional_providers %}
