{% extends "richie/base.html" %}
{% load cms_tags static i18n %}

{% block meta_favicons %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'richie/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'richie/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'richie/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'richie/favicon/site.webmanifest' %}">
<link rel="shortcut icon" href="{% static 'richie/favicon/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{% static 'richie/favicon/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
{% endblock meta_favicons %}

{% block body_footer_title %}{% endblock body_footer_title %}

{% block topbar_contact %}
<li class="topbar__item topbar__item--cta">
    <a href="{% page_url "contact" %}">{% trans "Contact us" %}</a>
</li>
{% endblock topbar_contact %}

{% block body_js %}
{% with domain=PRIVACY_CONTEXT.tarteaucitron.domain tagId=PRIVACY_CONTEXT.tarteaucitron.id locale=PRIVACY_CONTEXT.tarteaucitron.locale %}
    <script src="https://tarteaucitron.io/load.js?domain={{domain}}&uuid={{tagId}}&locale={{locale}}"></script>
{% endwith %}
{% endblock body_js %}

{% block body_mentions %}
<div class="body-mentions__poweredby--credits">
    <p>Ademe et Plan Bâtiment Durable © All Rights Reserved.</p>
</div>
{{ block.super }}
{% endblock body_mentions %}
